name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-test-deploy-blazor:
    runs-on: ubuntu-latest
    steps:
    # Checkout the code
      - uses: actions/checkout@v4

    # Install .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

    # Install dotnet wasm workload
      - name: Install .NET WASM Build Tools
        run: dotnet workload install wasm-tools

    # publishes Blazor project to the release-folder
      - name: Publish Blazor Web Project
        run: dotnet publish ./Web/Web.csproj -c Release -o dist/BlazorHybrid --nologo

    # copy index.html to 404.html to serve the same file when a file is not found
      - name: Copy index.html to 404.html
        run: cp dist/BlazorHybrid/wwwroot/index.html dist/BlazorHybrid/wwwroot/404.html

    # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
      - name: Add .nojekyll file
        run: touch dist/BlazorHybrid/wwwroot/.nojekyll

    # Commit Blazor Web App to GitHub Pages
      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          BRANCH: gh-pages
          FOLDER: dist/BlazorHybrid/wwwroot  
      
  build-test-deploy-maui:
    runs-on: windows-latest
    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      # Build Android
      - name: Build Android
        run: dotnet build ./MAUI/MAUI.csproj -f net8.0-android --configuration Release

      # Build IOS
      - name: Build IOS
        run: dotnet build ./MAUI/MAUI.csproj -f net8.0-ios --configuration Release

      # Build Windows
      - name: Build Windows
        run: dotnet build ./MAUI/MAUI.csproj -f net8.0-windows10.0.19041.0 -p:RuntimeIdentifierOverride=win10-x64 --configuration Release

      # Build MacCatalyst
      - name: Build MacCatalyst
        run: dotnet build ./MAUI/MAUI.csproj -f net8.0-maccatalyst --configuration Release
